$primary-color: #eee;
$primary-color2: #ddd;
$secondary-color: #d6c8a0;
$shadow-color: #776e53;
$font-color: #333;

@mixin flex-row {
	display: flex;
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
}

@mixin container {
	align-items: center;
	box-shadow: -5px 5px $shadow-color;
	border-radius: 15px;
	background-color: $primary-color;
	margin: 0 auto;
	width: 500px;
	border: 2px solid $shadow-color;
}

@mixin font-styles {
	font-size: 12px;
	font-family: 'Press Start 2P', cursive;
	color: $font-color;
}

@mixin input-text {
	margin: 5px 0;
	padding: 5px;
	width: 170px;
}

*:before, 
*:after, 
* {
	box-sizing: border-box;
}

body {
	@include flex-column;
	@include font-styles;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: $secondary-color;
}

.btn {
	@include container;
	cursor: pointer;
	padding: 5px;
	width: 45%;
	box-shadow: -2px 2px 0px $shadow-color;
	transition: active .09s ease-in-out;
	&:active {
		transform: translateX(-2px);
		box-shadow: 0px 1px 0px $shadow-color;
	}
	&:focus {
		outline: none;
	}
}

#main-content {
	@include flex-column;
	@include container;
}

#title-content {
	@include container;
	text-align: center;
	padding: .5rem;
	margin: .5rem;
}


//Character creation form
#creation-form {
	margin: .5rem;
	text-align: center;
	width: 70%;
}

.name-selection {
	@include flex-column;
	align-items: center;
	input {
		@include input-text;
	}
}

// input[type="text"] {
// 	width: 150px;
// }

#choose-class {
	@include flex-column;
	div {
		@include flex-row;
		justify-content: space-between;
		padding: .5rem 0;
	}
}

.output {
	@include flex-row;
	justify-content: space-between;
	margin: 1rem auto;
	max-width: 300px;
}









